<footer>
  <div class="footer-social">
    <ul>
      <li><img src="{{ site.baseurl}}assets/img/facebook.png" alt=""></li>
      <li><img src="{{ site.baseurl}}assets/img/twitter.png" alt=""></li>
      <li><img src="{{ site.baseurl}}assets/img/google.png" alt=""></li>
      <li><img src="{{ site.baseurl}}assets/img/pin.png" alt=""></li>
    </ul>
  </div>
  <div class="footer-copy">
    <p>Copyright © 20XX Our Company, All Rights Reserved.</p>
  </div>

</footer>
<script src="{{ site.baseurl}}assets/js/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl}}assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
