<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="test">
  <meta name="keywords" content="">
  <meta rel="author" href="">
  <meta rel="publisher" href="">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

  <title>Corp</title>

  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/all.css">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
