// Flex Classes
.flex
  display: flex
  // flex-direction: row
  // justify-content: center

// columns

.col-1, .col-2
  max-width: 640px
  box-sizing: border-box
  width: 100%
  padding: 0 10px

img
  height: 130px

@media (max-width: 640px)
  .flex
    display: block
